langchain_community
langchain_google_genai
python-dotenv
langgraph
langchain_core
typing
langchain-classic
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
bs4
langchain-chroma
